name: UI tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          playwright install --with-deps

      - name: Run Playwright tests with pytest and generate Allure results
        run: |
          pytest -m regression --alluredir=allure-results --numprocesses 2

      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: run-results
          path: allure-results

  publish-report:
    needs: run-tests
    runs-on: ubuntu-latest
    steps:
      - name: Download test results
        uses: actions/download-artifact@v4
        with:
          name: run-results

      - name: Checkout gh-pages branch to get history (if exists)
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          path: gh-pages
        continue-on-error: true  # Если ветка отсутствует, не остановит workflow

      - name: Generate Allure report with history
        run: |
          # Создаем папку для финального отчета
          mkdir allure-report
          
          # Объединяем результаты и историю
          allure generate allure-results --clean --report-dir=allure-report --history=gh-pages/allure-history || true
          
          # Копируем папку истории для следующего запуска
          cp -r allure-report/allure-history gh-pages/allure-history

      - name: Upload Allure report HTML & assets
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report

      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-report