# Имя вашего workflow, которое будет отображаться в интерфейсе GitHub Actions
name: UI tests

# Указываем, когда будет запускаться данный workflow
on:
  push:
    branches:
      - main  # Запускать workflow при пуше в ветку main
  pull_request:
    branches:
      - main  # Запускать workflow при pull request в ветке main

jobs:
  run-tests:
    runs-on: ubuntu-latest  # Запускаем на последней версии Ubuntu
    outputs:
      allure_results_path: ${{ steps.set_outputs.outputs.allure_results_path }}  # Передача результата
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          playwright install --with-deps

      - name: Run Playwright tests with pytest and generate Allure results
        run: |
          pytest -m regression --alluredir=allure-results --numprocesses 2
        id: run_tests

      - name: Set output path to allure results
        id: set_outputs
        run: echo "allure_results_path=allure-results" >> $GITHUB_OUTPUT

  publish-report:
    needs: run-tests
    runs-on: ubuntu-latest
    steps:
      - name: Use results from previous job
        run: |
          echo "Received results path: ${{ needs.run-tests.outputs.allure_results_path }}"

      - name: Generate Allure report with history
        uses: simple-elf/allure-report-action@v1.13
        with:
          allure_results: ${{ needs.run-tests.outputs.allure_results_path }}
          allure_history: allure-history

      - name: Get Allure history (if needed)
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history